body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: #0D1117;
  color: #EDF2EF;
  line-height: 1.3;  /* Increased line-height */
}

a {
  color: #EDF2EF !important;
  text-decoration: none;
}

a:hover {
  color: #4156E1 !important;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  background-color: #0D1117 !important;
  color: #EDF2EF !important;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  line-height: 1.4;
  word-break: break-all;
  word-wrap: break-word;
  border: 1px solid #ccc;
}

pre, code {
  font-family: monocode, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0;
  list-style: none;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  overflow: hidden;
  padding: 15px;
  background-color: #0D1117;
  color: inherit;
  transition: transform 0.3s, box-shadow 0.3s;
  padding: 0;
}

/*
.card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
*/

.card-img {
  width: 100%;
  object-fit: cover;
  height: 200px;
}

.card-content {
  flex: 1;
  padding: 15px; /* Add padding */
}

.card-content a {
  display: block;
  margin-bottom: 10px;
  color: #EDF2EF;
  flex: 1;
}

.card-content a:hover {
  color: #4156E1;
}

.card-content span {
  display: block;
}

.content-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh; /* Set to full viewport height */
  overflow: hidden; /* Prevent any unintended overflow */
}

.main-content {
  flex: 3;
  overflow-y: auto; /* Allows scrolling within main content if content overflows */
}

.sidebar {
  flex: 1;
  /*
  border-left: 1px solid #e0e0e0;
  */
  padding: 15px;
  padding-top: 0px !important;
  background-color: #0D1117;
  height: 100%; /* Ensure the sidebar takes up full height of its parent */
  overflow-y: auto; /* Allows scrolling within the sidebar if content overflows */
  margin-left: 20px; /* Margin to push the sidebar away from the cards */
}


.sidebar h3 {
  color: #EDF2EF;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar a {
  color: #EDF2EF;
  text-decoration: none;
}

.sidebar a:hover {
  color: #4156E1;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .sidebar {
    display: none;
  }
}
