{{ partial "header.html" . }}
<body
  lang="{{ .Site.LanguageCode }}"
  class="sans-serif mw9 center center-ns pa5-ns pa3"
>
  <span class="b">❯ </span>
  <a
    href="{{ .Site.BaseURL  }}"
    class="b bw1 bb pb1 no-underline black"
    >{{ .Site.Title  }}</a
  >

  <div class="content-container">
    <section id="main" class="main-content mt4">
      <div class="grid-container">
        <!-- prettier-ignore -->
        {{ range .Data.Pages.ByDate.Reverse }}
        <a href="{{ .Permalink }}" class="card">
            {{ with .Params.featured_image }}
            <img src="{{ . }}" alt="{{ $.Title }}" class="card-img">
            {{ end }}
            <div class="card-content">
                <span class="f3 b dib">{{ .Title }}</span>
                <span class="f6 gray db">{{ .Date.Format "January 2, 2006" }}</span>
            </div>
        </a>
        <!-- prettier-ignore -->
        {{ end }}
      </div>
    </section>

    <aside class="sidebar">
      <section class="recent-posts">
        <h3>Recent Posts</h3>
        <ul>
        {{ range first 5 .Data.Pages.ByDate.Reverse }}
          <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
        </ul>
      </section>

      <section class="categories">
        <h3>Categories</h3>
        <ul>
        {{ range .Site.Taxonomies.categories }}
          <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></li>
        {{ end }}
        </ul>
      </section>

      <section class="tags">
        <h3>Tags</h3>
        <ul>
        {{ range .Site.Taxonomies.tags }}
          <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></li>
        {{ end }}
        </ul>
      </section>
    </aside>
  </div>

  {{ partial "footer.html" . }}
</body>
</html>
