{{ partial "header.html" . }}
<body
  lang="{{ .Site.LanguageCode }}"
  class="sans-serif w-90 w-60-ns center center-ns mv2 mv5-ns"
>
  <span class="b">/ </span>
  <a
    href="{{ .Site.BaseURL  }}"
    class="b bw1 bb pb1 no-underline black"
    >{{ .Site.Title  }}</a
  >
  <section id="main" class="mt5 grid-container">
    <!-- prettier-ignore -->
    {{ range .Data.Pages.ByDate.Reverse }}
    <a href="{{ .Permalink }}" class="card no-underline">
        {{ with .Params.featured_image }}
        <img src="{{ . }}" alt="{{ $.Title }}" class="card-img">
        {{ end }}
        <div class="card-content">
            <span class="f3 b dib black">{{ .Title }}</span>
            <span class="f6 gray db">{{ .Date.Format "January 2, 2006" }}</span>
        </div>
    </a>
    <!-- prettier-ignore -->
    {{ end }}
  </section>

  {{ partial "footer.html" . }}
</body>
</html>
