html, body {
  background: #0D1117
}

::selection {
  background: rgba(68, 79, 226, 0.35);
}

[data-terminal]:before {
  user-select: none;
  content: '';
  position: absolute;
  top: 12px;
  left: 12px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  /* A little hack to display the window buttons in one pseudo element. */
  background: rgb(255, 95, 86);
  -webkit-box-shadow: 20px 0 0 rgb(255, 189, 46), 40px 0 0 rgb(39, 201, 63);
          box-shadow: 20px 0 0 rgb(255, 189, 46), 40px 0 0 rgb(39, 201, 63);
}

[data-terminal] {
  background: radial-gradient(circle, #070C14 0.1%, rgb(13, 17, 23) 100%) no-repeat;
  position: relative;
  box-shadow: 0 0 150px 10px rgb(65, 86, 225, 0.1);
}

.halo {
  box-shadow: 0 0 150px 10px rgb(65, 86, 225, 0.1);
}

.text-gradient, .text-gradient-white {
  background: linear-gradient(to right, #444FE2, #F26412, white);
  background-clip: text;
  color: transparent;
  font-size: 48px;
}

code {
  border: 0.5px solid rgba(149, 178, 184, 0.3);
  background-color: rgba(149, 178, 184, 0.067);
  border-radius: 2px;
  padding: 0 0.2em;
  margin: 0 -0.1em;
  display: inline-block;
  line-height: 1.3
}

.MuiPaper-root code {
  color: #EDF2EF;
}

.editors li {
  margin-left: -20px;
}